<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Flack</title>
    <style>
        div.msg_bbl{
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 10px;
            color: #555;
            margin-bottom: 5px;
        }
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="well text-center">
            <h4>Chat</h4>
        </div>
        <div class="col-sm-8">
            <div id="nomsg">
                <h1 style="color:#ccc">No message yet</h1>
            </div>
        </div>
        <div class="col-sm-4">
            <form action="" method="POST">
                <b>Type your message below <span class="fas fa-arrow-down"></span></b>
                <div class="message_holder"></div>
                <hr>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="username form-control" placeholder="user name" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Messgae</label>
                    <input type="text" class="message form-control" id="exampleInputPassword1" placeholder="message">
                  </div>
                 
                  <button type="submit" class="btn btn-success">Send <span class="fas fa-paper-plane"></span></button>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script>
           var socket = io.connect( 'http://127.0.0.1:5000/')
      // broadcast a message
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let message = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            msg : message
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      // capture message
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h1' ).remove()
          $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.msg+'</div>' )
        }
      } )
    </script>
  </body>
</html>